#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.centered-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
  box-sizing: border-box;
}

.content-backdrop {
  background: linear-gradient(to right, rgba(170, 169, 192, 0.8), rgba(120, 112, 200, 0.8)); /* Gradient background with transparency */
  display: flex;
  width: flex;
  height: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:rgb(13, 54, 98);
  border-radius: 50px;
}

.highlight {
  color: #cbdf90; /* Set your desired color for "Overphone" */
}

.phone-icon {
  animation: tilt 1s infinite; /* Increase duration to 5 seconds */
  margin-bottom: -10px;
  margin-left: 20px;
}

.content {
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Space between buttons */
  margin-top: 1rem; /* Space above the buttons */
}

.circle-button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  background-color: #3a3376;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.circle-button.pressed {
  background-color: #2b246b; /* Change background color when pressed */
  color: yellow; /* Change text color when pressed */
}

.circle-button:hover {
  background-color: #2b246b;
  color: yellow; /* Change text color on hover */
}

.text-field-container {
  margin-top: 3rem; /* Space above the text field */
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.text-field {
  width: 26ch; /* Adjust width as needed */
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: inherit;
}

.call-button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #B0413E;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.scroll-icon {
  display: block;
  margin: 20px auto;
  width: 40px; /* Adjust size as needed */
  height: auto;
  animation: subtleBounce 2s infinite, fadeInOnStart 2s;
  cursor: pointer;
}

@keyframes subtleBounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-5px); }
  60% { transform: translateY(-3px); }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

@keyframes tilt {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeInOnStart {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 2s;
}

.fade-out {
  animation: fadeOut 2s;
}

.fade-in-on-start {
  animation: fadeInOnStart 1.5s ease-in;
}